[2013-02-21 14:25] beckje01 opened #1 "Update Readme"
Update the README to a format github can display well.

[2013-02-21 14:26] beckje01 opened #2 "Update Plugin Descriptor"
Update  plugin descriptor with the new format including links to scm and issue management.

[2013-03-26 15:11] #1 closed, assigned to beckje01

[2013-03-26 15:21] #2 closed, assigned to beckje01

[2013-04-11 22:23] kenhtanaka opened #5 "Grails.org plugin listing shows misleading usage"
Looking at http://grails.org/plugins/search?q=code+coverage
shows an incorrect entry for BuildConfig.groovy

Dependency :
compile ":code-coverage:1.2.6"

but if one clicks on the "Read more" ( http://grails.org/plugin/code-coverage ) link, the next page shows the correct

Dependency :
test ":code-coverage:1.2.6"

[2013-04-12 14:10] beckje01 commented on #5
Interesting looks like a bug in the plugin portal. I'll send a message to the dev list.

[2013-07-19 20:00] davidadale opened #6 "ClassNotFoundException (Jenkins)"
I am getting this error when I try to build using Jenkins.

grails "test-app :unit -coverage -xml" "test war"

Fails trying to build the war

Error [22;39mError loading plugin manager: java.lang.ClassNotFoundException: CodeCoverageGrailsPlugin (Use --stacktrace to see the full trace)
Build step 'Build With Grails' marked build as failure
Skipping Cobertura coverage report as build was not UNSTABL

[2013-07-19 20:04] beckje01 commented on #6
What version of grails are you using?

[2013-07-19 20:06] davidadale commented on #6
Sorry misread the question. I am using Grails 2.2.3

This is what I have in my BuildConfig.groovy

test ":code-coverage:1.2.6"

If I change it to

compile ":code-coverage:1.2.6"

the build completes but the app fails to start complaining about the ClassNotFound same thing.

 **Let me try to remove the post processing -nopost**

[2013-07-19 20:18] davidadale commented on #6
Changing it to -nopost didn't help

[2013-07-19 20:30] beckje01 commented on #6
ok I will try and reproduce thanks for the details

[2013-07-19 20:39] davidadale commented on #6
Hey I have a fix on this.

Instead of using
test ":code-coverage:1.2.6"

use

build ":code-coverage:1.2.6"

**That Works!!**

Thanks for your quick response on this.

[2013-07-19 20:54] beckje01 commented on #6
Interesting do you have to build the war as test? I think that is what is causing it.

[2013-07-20 20:52] davidadale commented on #6
Yah, in our case we are using the test settings as the settings for our
test environment. You're probably right about that but it's working now.

On Fri, Jul 19, 2013 at 4:54 PM, Jeff Beck notifications@github.com wrote:

[2013-07-21 12:02] #6 closed, assigned to nobody

[2013-09-11 05:25] zoran119 opened #7 "Cobertura cannot find the source for a Quartz job"
Not sure it if it a bug but I get the following message when trying to see the coverage report for a Quartz job: `Unable to locate example/MyJob.groovy. Have you specified the source directory?`

[2013-09-11 14:27] mjhugo commented on #7
Have you tried specifying the jobs directory in sourceInclusions (see
below, replace 'realms' with 'jobs')

In addition, you can add directories to the default list for source files
to include in the coverage reports. For example, if you're using the
Jsecurity plugin and want to see the source for files in the 'realms'
directory in the reports, add the following to your BuildConfig.groovy:

covera

[2013-09-13 13:40] senorbum opened #8 "Code Coverage plugin Removes Plugin Cache directory"
I've recently added the Grails Code-Coverage plugin to my project. The coverage tools themselves work great. The issue I am facing is that every single time I run coverage, either on a single test or on the entire suite, my dependencies run into issues. I receive an error of The container 'Grails Dependencies' references non existing library 'C:\Users\$myUser.grails\1.3.6\projects\$myProject\plugi

[2013-09-13 14:06] beckje01 commented on #8
Would you mind trying the plugin with version 1.2.6 and see if the problem still exists?

[2013-09-13 14:15] beckje01 opened #9 "Upgrade to Cobertura 2.0.3"
Upgrade to cobertura 2.0.3

https://github.com/cobertura/cobertura

[2013-09-13 14:16] beckje01 opened #10 "Update versioning"
Change versioning to be based off cobertura version

[2013-09-13 14:18] beckje01 commented on #7
@zoran119 Did Mike's suggestion fix your problem?

[2013-09-13 14:32] senorbum commented on #8
Is there a better download site than the grails plugin directory?  Running grails installPlugin code-coverage 1.2.6 yields:   org.grails.plugins#code-coverage;1.2.6: not found

[2013-09-13 14:38] beckje01 commented on #8
So if you are getting that you are probably using the old plugin portal.

If you can upgrade grails 1.3.8 should fix that: http://jira.grails.org/browse/GRAILS-8970

If you can't upgrade there is a way to us the new portal I'll need a bit to track that down you are on a very old version of grails.

[2013-09-13 14:44] senorbum commented on #8
I'll upgrade my local box and get back to you.

[2013-09-13 15:00] senorbum commented on #8
I still have the same issue with grails 1.3.9 and code-coverage 1.2.6.  I've tried changing my plugin directory to ${project}/target, but I still get the same issue.

[2013-09-13 17:37] beckje01 commented on #8
Thanks I'll try with that this weekend, and see if I can reproduce as well.

[2013-09-14 11:09] zoran119 commented on #7
I could not fix the problem on a project at work despite adding `sourceInclusions`, yet trying `sourceInclusions` on a dummy new project works fine. I'll have another go when I go to work on Monday and let you guys know (I must have an error in my config somewhere...).

Thanks for quick response!

[2013-09-20 22:36] jefferysmith opened #11 "Plugin not working with forked execution in Grails 2.3"
The code coverage report doesn't seem to get generated when using the new forked execution introduced in Grails 2.3.
To reproduce the issue (tried on both windows and linux):
1. create a new Grails 2.3.0 application
2. create a simple domain class with a unit test
3. install the latest code-coverage plugin (v1.2.6)
4. run `grails test-app -coverage`
5. the coverage report is not generated

As a wo

[2013-09-25 08:09] ewrdk commented on #11
The workaround works well on my local machine. It will however cause my test to crash when running on Jenkins because of classloading problems (in my case a JUnit class cannot be found).

[2013-10-15 14:00] robertoschwald opened #12 "replaceClosureNamesInReports() fails on Controllers with mixins"
I use Controllers with mixins and postprocessing fails in _Events.groovy replaceClosureNamesInReports() with a MissingMethodException for methodMissing().

It seems Mixins do not get loaded in postProcessing.

[code]

ExampleController Line 18 calls a method defined in a mixin.
Mixins are configured in the controllers using the @Mixin(<name>) Annotation.

[2013-10-15 14:04] robertoschwald opened #13 "PostProcessing could not be disabled in BuildConfig"
postprocessing could not be disabled in code-coverage-1.2.6 by BuildConfig.groovy:

[code]

Reason: _Events.groovy

[code]

leads to true when running without "-nopost" arg, as "!argsMap.nopost" is true in this case (argsMap.nopost is null in this case).

So only solution for now is to run with "-nopost" argument.

[2013-10-15 14:08] beckje01 commented on #12
Which mixin are you using?  grails.util.Mixin or groovy.lang.mixin

Is there any way you could create a small sample project that has the error so I could work with it?

[2013-10-15 14:16] robertoschwald commented on #12
Using groovy.lang.mixin. Trying to create an example project, later for you.

[2013-10-15 14:38] beckje01 commented on #12
Thanks

[2013-10-16 09:01] robertoschwald opened #14 "Exclude OSX .DS_Store files by default"
Please exclude .DS_Store OSX specific files by default. The're generated by the OSX Finder when accessing project folders:

[code]

[2013-10-17 10:00] tomaslin opened #15 "When a grails directory is missing, plugin throws an error"
When a grails directory that is hardcoded within the plugin is missing, an error is thrown:

[code]

This makes running the tests within an CI system fail.

An example is here - https://netflixoss.ci.cloudbees.com/job/asgard-pull-requests/186/console

To reproduce this, create an empty grails app, add code coverage plugin and run tests after deleting the grails-app/utils directory.

The problem wi

[2013-10-17 16:22] beckje01 commented on #15
This is only a problem in Grails 2.3 since before that the util directory would be created when test-app was run.

[2013-10-17 16:47] #15 closed, assigned to beckje01

[2013-10-17 21:25] beckje01 commented on #14
I can reproduce this but there doesn't seem to be a clear way to prevent this from happening it is currently using the ant.taskdef and a resource the class path being used is grails.test.classpath This warning shouldn't cause any real issue doing the work.

[2013-10-23 22:50] zoran119 commented on #7
Just tried it again, it found the sources. Thanks for your help.

[2013-10-23 22:50] #7 closed, assigned to beckje01

[2013-10-30 11:49] ziftytodd commented on #9
I tried working on this a bit myself, but once I was able to resolve some dependency issues, it appears that no classes were instrumented correctly, or the data wasn't being saved properly. Have you had any luck in getting 2.0.3 to work in your efforts?

[2013-10-30 11:55] beckje01 commented on #9
I ran into a cobetura bug with incompatible class change so I'm holding off for now.

[2013-10-30 18:52] beckje01 commented on #9
Here is where I started https://github.com/beckje01/grails-code-coverage/tree/coberturaUpgrade

[2013-10-30 18:53] #14 closed, assigned to beckje01

[2013-11-12 08:32] armeris opened #16 "Error in Grails 2.3.2"
I'm having this error when generating the coverage.xml file.

[Fatal Error] coverage.xml:2:10: DOCTYPE is disallowed when the feature "http://apache.org/xml/features/disallow-doctype-decl" set to true.
| Error Error executing script TestApp: org.xml.sax.SAXParseException: DOCTYPE is disallowed when the feature "http://apache.org/xml/features/disallow-doctype-decl" set to true. (NOTE: Stack trace h

[2013-11-12 09:39] dirtylabcoat opened #18 "NullPointerException problem since updating to Grails 2.3.2"
I updated to Grails 2.3.2 to fix a bug that was hindering me but now when I run code coverage I get this:

$ grails test-app -coverage -xml --stacktrace --verbose
Base Directory: /home/me/dev/my-app
| Completed 67 unit tests, 0 failed in 0m 8s
| Tests PASSED
Flushing results...
Flushing results done
Cobertura: Loaded information on 25 classes.
Cobertura: Saved information on 25 classes.
| Error Er

[2013-11-14 09:21] marcuskrantz opened #19 "Replace closure names in reports not working - Grails 2.3.2"
When I run any test with: grails test-app -coverage -xml -append

I get the following stacktrace

| Error Error running forked test-app: No such property: grailsApp for class: _Events (NOTE: Stack trace has been filtered. Use --verbose to see entire trace.)
groovy.lang.MissingPropertyException: No such property: grailsApp for class: _Events
    at _Events.replaceClosureNamesInReports(_Events.groov

[2013-11-19 01:12] #19 closed, assigned to nobody

[2013-11-21 16:19] armeris commented on #16
Same error as Issue #17

[2013-11-25 17:28] beckje01 commented on #18
This is fixed now in the latest release.

[2013-11-25 17:28] #18 closed, assigned to nobody

[2013-11-25 17:28] beckje01 commented on #16
It is fixed now.

[2013-11-25 17:28] #16 closed, assigned to nobody

[2014-01-14 16:50] senorbum commented on #8
After upgrading my project to grails 2.2.4, I still get the same issue.  There must be some conflict with something on my machine causing this to happen.  I'm wondering if it is due to TFS locking files.  I will create a test project in the next few days to see if I can narrow down the issue.

[2014-01-22 11:59] mihaildemidoff commented on #9
It's not a cobertura bug. We have incompatibility between bundled asm library(3.3.1 in grails) and asm used in cobertura 2.0.X(asm 4.X). We can only wait for version upgrading in grails.

[2014-01-22 13:26] beckje01 commented on #9
Agreed thanks for the input.

[2014-05-14 14:25] senorbum opened #22 "Caching coverage results"
When I run coverage on an integration test, it seems like the results are being cached.  For example, I run coverage on one single integration test, which just hits a few classes, but its coming back with coverage results for my entire project.

I've tried clearing the `target/test-reports` directory completely, but the results are unchanged.  This is the command I use to execute my tests:

[code]

[2014-05-21 17:42] tedder opened #23 "running through Gradle"
I'm using Gradle 1.12 and Grails 2.3.6. I've included the coverage plugin:

[code]

I then make sure to pass the `-coverage` argument:

[code]

When I run `./gradlew clean test` or `./gradlew clean grails-test-app` I don't see the expected "Instrumenting classes for coverage" output.

I also tried turning forking off, based on #11, with `./gradlew clean grails-test-app -Pgrails.project.fork.test=f

[2014-05-22 18:36] beckje01 commented on #23
I have not tried to use this plugin with gradle based grails builds. I would think you could use the gradle plugins for code coverage and have an easier way to to work with the plugins... but I'm not sure.

If you have a public repo with the grails built by gradle I might be able to take a look soon.

[2014-05-23 14:32] benoitlouy opened #24 "Report showing "N/A" for coverage when project depends on rest-assured"
I have a project where I use rest-assured in some of my tests. I recently tried to create coverage reports using the code-coverage plugin but the report shows N/A for all classes.
After investigation I was able to get some actual numbers by removing the rest-assured dependency from BuildConfig.groovy

grails version: 2.3.7
code-coverage version: 1.2.7
rest-assured version: 2.3.1

Steps to reproduc

[2014-05-23 17:44] beckje01 commented on #24
Try this for rest assured instead:

[code]

[2014-05-23 17:57] benoitlouy commented on #24
That did it, thanks.

[2014-05-23 17:57] #24 closed, assigned to nobody

[2014-05-29 12:41] michaelnico opened #26 "Grails 2.3.9 ClassNotFoundException PackageData"
When I updated my grails version to 2.3.9 from 2.3.7 I experienced this issue:

[code]

[2014-05-29 19:59] nikolajbrinch commented on #9
I've fixed this issue in the pull request, by booting the instrumentation in a new JVM, where I have removed asm 3 from the classpath.

Check out my pull request.

Happy testing :-)

[2014-05-30 06:50] Alotor commented on #26
I had the same issue and deactivating the fork mode for "test" is working.

Maybe something about the forked mode changed on Grails 2.3.9?

[2014-06-03 12:57] beckje01 commented on #26
I am testing the latest snapshot with 2.3.9 now and I'll let you know soon.

[2014-06-03 12:58] beckje01 commented on #23
So if you need anything more on this contact me on twitter.

[2014-06-03 12:58] #23 closed, assigned to nobody

[2014-06-03 12:59] beckje01 commented on #9
Fixed by @nikolajbrinch

[2014-06-03 12:59] #9 closed, assigned to beckje01

[2014-06-03 13:24] #10 closed, assigned to nobody

[2014-06-17 09:52] mukulashokjoshi commented on #26
Found the same issue in version 2.4 RC2 as well

[2014-06-17 09:58] mukulashokjoshi commented on #26
And it worked (in 2.4 RC2) by switching off the "forked" mode for test. Thanks Alotor.

[2014-06-23 13:59] beckje01 commented on #26
So we do not support forked mode at this time for any version.

[2014-06-23 13:59] #26 closed, assigned to nobody

[2014-06-24 12:21] nbabynyuk opened #27 "Plugin crashed after upgrade"
| Error Exception occurred trigger event [TestProduceReports]: java.lang.NoClassDefFoundError: org/apache/xerces/dom/ElementImpl (NOTE: Stack trace has been filtered. Use --verbose to see entire trace.)
java.lang.NoClassDefFoundError: org/apache/xerces/dom/ElementImpl
        at org.apache.xerces.jaxp.DocumentBuilderImpl.newDocument(Unknown Source)
        at org.apache.tools.ant.taskdefs.optional

[2014-06-25 09:13] halfbaked opened #28 "Coverage results showing empty in latest version"
Using the latest version of the plugin, the coverage.xml file has and an empty packages node, where in the old version it was full of data.

[code]

I see the following in the logs:

[code]

[2014-06-25 09:43] halfbaked opened #29 "coverage disabled by default"
Unless I've missed a config hidden in my app somewhere, it looks like coverage is disabled by default, but according to the README in the github project the opposite appears to be assumed where to Run requires only :

[code]

[2014-06-25 12:54] beckje01 commented on #28
What version of grails are you using?

[2014-06-25 12:57] beckje01 commented on #27
There seems to be a bug related to just 2.2.0, with 2.2.1 it doesn't have the same error. For now I would suggest using the older version of the plugin.

[2014-06-25 13:44] halfbaked commented on #28
Hey Jeff, it is Grails version 2.3.7

[2014-06-25 13:45] beckje01 commented on #28
And forked mode is off? I have it working with 2.3.7 If you can either let me see the project or create a simple test project that has the same error that would be very helpful.

[2014-06-25 13:52] halfbaked commented on #28
I tried both forked and unforked.
Makes sense that you need an example. I'll see what I can do.

On 25 June 2014 15:45, Jeff Beck notifications@github.com wrote:

[2014-06-25 13:53] beckje01 commented on #28
I will also try to reproduce with some projects at work that need updated
anyway.

Jeff

[2014-06-26 05:46] beckje01 commented on #28
I tried with 2.3.4 and 2.3.7 and I'm not reproducing the issue yet. You should see a message like:

 Instrumenting classes for coverage...
INFO: Found ASM 3: /Users/jeff.beck/.m2/repository/asm/asm/3.3.1/asm-3.3.1.jar.

Do you see anything like that after the instrumenting classes for coverage?

[2014-06-26 06:52] halfbaked commented on #28
Yes, I see the following:
-    | *Instrumenting classes for coverage...

  INFO: Found ASM 3:
  /Users/34m0/.m2/repository/asm/asm/3.3.1/asm-3.3.1.jar.

    Possibly because grails-core (grails-plugin-databinding) uses it.

    Removing from instrumentation classpath!

   [java] Java Result: 1
-    | *Completed 25 unit tests, 0 failed in 1m 10s
-    | *Tests PASSED - view reports in
  /Users/34m0/

[2014-06-26 13:26] beckje01 commented on #28
I haven't used that plugin before do you mind setting up a skeleton project with that plugin being used how you would expect?

[2014-06-26 16:09] halfbaked commented on #28
I falsely accused that plugin ;)
I went through the various plugins of my real app on a sample app, and by
process of elimination found the culprit to be: markdown (
https://bitbucket.org/tednaleid/grails-markdown).

On 26 June 2014 15:26, Jeff Beck notifications@github.com wrote:

[2014-06-26 19:55] biancarosa commented on #27
Hi.
I also had this problem with Grails 2.0.4 and managed to make it work running with " -Djavax.xml.parsers.DocumentBuilderFactory=com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl".

It's not my favourite solution, but it's better than using the older version because I was having some problems with it. (java.lang.VerifyError: Expecting a stackmap frame at branch target... someth

[2014-06-27 07:30] halfbaked commented on #28
Jeff, an update for you: either plugin on its own does not appear to cause the issue, but the combination of both plugins I mention does. I've put a sample project together which I hope also doesn't work for you: https://github.com/halfbaked/sample-grails-cobertura

Run:

[code]

And you should see:

[code]

[2014-06-27 09:50] nbabynyuk commented on #27
Thanks a lot!
        For now I switched to the previous version.

2014-06-26 22:55 GMT+03:00 Bianca Rosa notifications@github.com:

[2014-06-27 19:19] beckje01 commented on #27
@biancarosa Thanks for the info, I'm thinking the updated plugin will need a newer version of grails without your work around. I'm going to add your workaround to the plugin page.

[2014-06-30 16:55] #28 closed, assigned to nobody

[2014-06-30 17:02] beckje01 commented on #28
Thanks for all the help, I think I have a fix now I did a pull request check out https://github.com/halfbaked/sample-grails-cobertura/pull/1

[2014-07-01 12:54] beckje01 commented on #29
Updated the document to be correct. Thanks!

[2014-07-01 12:54] #29 closed, assigned to nobody

[2014-07-01 12:57] beckje01 commented on #22
So the results are stored in a file called cobetura.ser that is the file that would need to be cleared. Could you try with the latest version of the plugin and if you are still getting the same results let me know

[2014-07-02 13:27] beckje01 commented on #27
Would anyone be willing to test the latest snapshot of the plugin with one of these projects?

[2014-07-02 13:28] beckje01 commented on #12
I'm going to close this as mixins are now on their way out I assume traits will have something as well but once there is a sample project i'll dig into it.

[2014-07-02 13:28] #12 closed, assigned to nobody

[2014-07-02 13:29] beckje01 commented on #8
So any chance you could check with the latest version of coverage?

[2014-07-02 14:34] biancarosa commented on #27
@beckje01 How should I put the dependency of the new version in my BuildConfig.groovy? I'm using test ":code-coverage:2.0.3-2-SNAPSHOT" but it doesn't seem to find it.

[2014-07-02 14:38] beckje01 commented on #27
You would need to if you don't mind build the plugin locally.

In the cloned repo run:
- `grails package`
- `grails mavenInstall`

The snapshot will be in the local repo on the computer. Thank you so much for the support.

[2014-07-02 17:02] biancarosa commented on #27
Still getting an error.

|  java.lang.NoClassDefFoundError: org/apache/xerces/dom/ElementImpl
    at org.apache.tools.ant.taskdefs.optional.junit.XMLJUnitResultFormatter.startTestSuite(XMLJUnitResultFormatter.java:115)
Caused by: java.lang.ClassNotFoundException: org.apache.xerces.dom.ElementImpl
    at java.net.URLClassLoader$1.run(URLClassLoader.java:366)
    at java.net.URLClassLoader$1.run(URL

[2014-07-03 18:52] beckje01 commented on #27
Ok thanks for the help, I'm going to release the latest version with a note about your work around. That seems to be as good as I can do at this time for older grails versions and newer cobetura....

If anyone objects or has concerns let me know.

[2014-07-15 15:41] wrschneider commented on #11
I have also noticed that you will not get coverage from functional tests unless you change the fork `run` setting to false.  functional tests are not impacted by the `test` setting.

[2014-07-16 22:20] beckje01 commented on #11
There is not currently plans for supporting forked mode, of anyone is interested in adding support a pull request is very welcome.

[2014-07-28 15:16] JarredOlson opened #30 "code-coverage 2.0.3-1 not producing html output with grails 2.3.10"
I attempted to upgrade an existing grails 2.3.10 project to use code-coverage 2.0.3-1.  When I ran `grails test-app -coverage` nothing appeared when I viewed the coverage report at /target/test-reports/cobetura/index.html.  I created a fresh grails 2.3.10 project and added 1 controller and the coverage plugin.  Execute the same command as above and the same result happened.  In both cases I remove

[2014-07-28 20:57] beckje01 commented on #30
Can you put your example in its own repo and give me a link to it?

[2014-07-29 16:57] psoares commented on #30
Same problem for grails 2.3.8...

[2014-07-29 17:14] JarredOlson commented on #30
@beckje01 here is a link to the repo.  Thanks!  https://github.com/JarredOlson/GrailsCoverageIssue

[2014-07-29 19:03] arielhdz commented on #30
Same problem in grails 2.2.1

[2014-08-01 18:41] jmckay commented on #30
I've noticed the same thing starting in grails 2.3.8.  Coverage in my test app worked fine in 2.3.7.  Here is the output I'm seeing under 2.3.8:

[code]

[2014-08-12 22:52] genuinefafa commented on #30
Is there any advance in this issue? What can we do?

[2014-08-15 09:11] marcoscarceles commented on #28
Do you know when did fix will be released?

[2014-08-15 12:24] marcoscarceles commented on #30
Digging out a bit it seems the problem could be when executing the Java task to instrument the classes, which produces this error:

[code]

I couldn't figure out why yet :(

[2014-08-15 12:56] genuinefafa commented on #30
I don't know how to enable more debugging. How can I do that?

Seeing your error make me wonder if latest version of Grails removed some dependency code-coverage depends upon. I'm pretty lost here. :worried:

[2014-08-15 13:59] shiftregister-vg commented on #30
I'm having the same issue in 2.4.2.  I noticed that running version 1.2.7 of the plugin produces the HTML but causes my tests to fail.  If I swap to 2.0.3-1 then my tests pass but no html report.

One of the few differences I have seen is this:

[code]

In 1.2.7 I don't see this output but in 2.0.3-1 I get it just before the tests run.

[2014-08-15 15:32] marcoscarceles commented on #30
I logged the classpath on two test projects, on grails 2.3.7 and 2.3.8 and it seems that the ant jar is gone on the 2.3.8. On a test project this seems to do the trick:
https://github.com/marcos-carceles/grails-code-coverage/commit/365ed4627db3d5b6a406b8532735dac1ba732003#diff-d41d8cd98f00b204e9800998ecf8427e

[2014-08-16 14:43] beckje01 commented on #28
@marcos-carceles I'll review your PR today and look at releasing a version today/tomorrow

[2014-08-16 15:48] beckje01 commented on #30
Thanks to the help from @marcos-carceles and one other change for 2.3.10 the latest version on master seems to be working correctly for 2.3.10 and 2.4.3.

@stevegood would you be willing to test the latest code in master with your project?

If I can have a few people confirm the fix I will release on Sunday.

[2014-08-17 00:46] genuinefafa commented on #30
I've done some testing on my own apps,
- 2.4.2 app works excelent, hurrá! :smile:
- 2.3.11 doesn't :anguished: (see following log)

[code]

I really don't understand how to get more debugging information.

[2014-08-17 01:26] beckje01 commented on #30
@genuinefafa what command are you running right now?

[2014-08-17 01:37] beckje01 commented on #30
Also if you could uncomment https://github.com/beckje01/grails-code-coverage/blob/master/scripts/_Events.groovy#L252  and run that will give lots of details but it would be best to email me that output.

I tried with the test app https://github.com/JarredOlson/GrailsCoverageIssue bumped up to 2.3.11 and didn't get the issue.

[2014-08-17 01:46] genuinefafa commented on #30
I did `grails clean` and a `grails compile` and then
`grails test-app -coverage --verbose --stacktrace`

I'm using `test ":code-coverage:2.0.3-2-SNAPSHOT"` on `BuildConfig`

I just double check it.

@beckje01 what email? my skype is the same as my user

ps: I'm doing those modifications now, **i'll be back** :8ball:

[2014-08-17 02:09] beckje01 commented on #30
Tested and confirmed working.

[2014-08-17 02:09] #30 closed, assigned to nobody

[2014-08-17 02:16] shiftregister-vg commented on #30
I confirmed that everything is working in 2.4.2 using the content of master branch.

[2014-08-17 02:33] beckje01 commented on #30
@stevegood Great thanks it should be live in the plugin portal now

[2014-08-18 20:29] aleksz opened #32 "support parallel test execution"
Would be nice to have configurable .ser file location and option to execute instrumentation before running tests in parallel.

[2014-08-18 21:37] beckje01 commented on #8
No comment for a long time.

[2014-08-18 21:37] #8 closed, assigned to nobody

[2014-08-18 21:37] beckje01 commented on #5
Sorry its an issue in the plugin portal I can't fix from my end.

[2014-08-18 21:37] #5 closed, assigned to nobody

[2014-08-18 21:38] beckje01 commented on #22
No updates for a while

[2014-08-18 21:38] #22 closed, assigned to nobody

[2014-08-18 21:39] beckje01 commented on #27
Any chance we could try with the latest version of the plugin there was some more changes included to help with ant

[2014-08-19 16:36] psoares commented on #30
Works for me too in grails 2.3.8.
I'm using the forked mode and it seems to work fine too... is it supposed
to work ? In which case, maybe the plugin documentation in the portal needs
to be updated ?!....

Thanks a lot !

2014-08-16 22:33 GMT-04:00 Jeff Beck notifications@github.com:

[2014-10-03 18:19] shendrix commented on #32
Agree - this is burning us right now running when multiple Jenkins jobs that use this plugin

[2014-10-08 19:37] beckje01 commented on #32
Config to move .ser file is now done as of #33

[2014-10-21 00:16] satan1999 commented on #30
I am using grails 2.4.3 and ':code-coverage:2.0.3-2'

When i run test-app -coverage -xml in local machine, it looks fine.

When i run test-coverage in jeakins(cobertura 1.9.5, the grails.project.fork was commented out ) , i got the following logs

 [java] [cobertura-instrument] Cobertura 2.0.3 - GNU GPL License (NO WARRANTY) - See COPYRIGHT file
     [java] [cobertura-instrument] 21/10/2014 12:08:

[2014-10-27 00:21] satan1999 opened #34 "Emtpy report in Jeakins - Cobertura: Loaded information on 0 classes."
I am using grails 2.4.3 and ':code-coverage:2.0.3-2'

When i run test-app -coverage -xml in local machine, it looks fine.

When i run test-coverage in jeakins(cobertura 1.9.5, the grails.project.fork was commented out ) , i got the following logs

[java] [cobertura-instrument] Cobertura 2.0.3 - GNU GPL License (NO WARRANTY) - See COPYRIGHT file
[java] [cobertura-instrument] 21/10/2014 12:08:39 AM

[2014-10-27 17:55] beckje01 commented on #34
What version of Java are you using?

[2014-10-28 01:00] satan1999 commented on #34
Thanks for your remind
I just found out the server is using jdk 1.6

Cheers
Wallace

[2014-10-31 13:12] danielpsf commented on #34
I'm having the same problem with my project.

My environment is:

Here is my _BuildConfig.groovy_:

[code]

When I execute this: `grails test-app unit: integration: -coverage -xml --verbose --stacktrace` I got this:

[code]

@beckje01 have you ever seen this before?

[2014-11-10 16:02] dmahapatro opened #35 "Difference in coverage when plugin updated from 2.0.3-2 to 2.0.3-3"
I noticed a considerable change is coverage immediately after I upgraded to plugin to use v2.0.3-3 from v2.0.3-2. I found out the root cause to be:

[code]

`_Events.groovy` is already on the classpath so `dataFile = "cobertura.ser"` should be enough. After adding the absolute path (using `basedir`) I see the data file is not cleared/deleted on subsequent coverage calls.

I see below behavior chan

[2014-12-09 14:11] asuraphel opened #36 "grails test-app coverage throws java.lang.SecurityException: class "com.ibm.icu.util.TimeZone"'s signer information does not match signer information of other classes in the same package"
I get the following:

General error during class generation: class "com.ibm.icu.util.TimeZone"'s signer information does not match signer information of other classes in the same package

java.lang.SecurityException: class "com.ibm.icu.util.TimeZone"'s signer information does not match signer information of other classes in the same package
        at java.lang.ClassLoader.checkCerts(ClassLoader.j

[2015-02-07 05:25] vahidpaz opened #37 "Unable to get code coverage for my Grails app's plugins"
This is actually not an issue at all but I thought worthwhile to document here in case others land on this page in a web search.

If you improperly designed you Grails app initially like me and want to get a coverage report for not only the Grails app you're working but also its plugins (and also its transitive Grails plugins) then check out: http://stackoverflow.com/questions/28357244/cobertura-c

[2015-02-09 06:08] beckje01 commented on #37
Glad you got it working, if you would like to put some of this into the README I'll be happy to accept as a pull request

[2015-02-10 13:10] robertoschwald commented on #36
Seems you have duplicate dependencies on your classpath. Check your classpath using dependency-report for the icu package.

[2015-02-10 13:17] robertoschwald opened #38 "Invalid class name exception on db-migration files"
Environment:
code-coverage 2.0.3-3
Grails 2.4.4
Fork mode disabled in test

I use database-migration files of name

[code]

This leads to coverage errors on all of those files (see below).
I'm unable to exclude those files in the config to get rid of the error. Tried with

[code]

[code]

[2015-02-10 15:53] beckje01 commented on #38
We use the following exclusions does this work for you?

[code]

[2015-02-10 16:03] robertoschwald commented on #38
No, it doesn't work. Even used your exclusion list in BuildConfig.groovy, but error is the same.
db-migration files and changelog.groovy are in the default grails-app/migrations dir.

[2015-02-10 16:07] robertoschwald commented on #38
Now I switched on Grails forked mode for test env (was set to false in grails.project.fork as you've written it is not supported in the coverage plugin for now), and it seems the exclusion works then, but after the unit test, I get:

[code]

[2015-02-10 16:11] robertoschwald commented on #38
This is how the test is performed:

[code]

when disabling forked mode, "Invalid class name" error for all migration files reoccurs.

[2015-02-16 13:38] kreighza opened #39 "Plugin not working for 2.4.4"
Hello,

I just upgraded to Grails 2.4.4 and I keep getting this error:

[code]

[2015-02-16 16:10] beckje01 commented on #39
Can you run `grails dependency-report` and share the results?

[2015-02-16 17:32] kreighza commented on #39
[code]

[2015-02-16 21:27] beckje01 commented on #39
I've only seen this if you have forked mode on for your tests... I haven't had a chance to reproduce this issue yet.

[2015-06-04 09:05] ahassen commented on #36
I'm having similar problems. And there are no duplicate dependencies on my classpath. @robertoschwald

[2015-08-13 19:34] felipecao opened #41 "Error executing script TestApp: Malformed class name"
Hello!

I'm trying to use `code-coverage:2.0.3-3` in my Grails app (grails-2.4.4), by running `test-app unit: -coverage -xml --refresh-dependencies` but, as soon as tests finish running and coverage plugin tries to kick-in, I get the stacktrace below.

Should I do anything different here? I haven't done any configuration on BuildConfig.groovy whatsoever, I'm using 100% default configs.

Thanks a l

[2015-08-14 07:51] felipecao commented on #41
This was related to differences in Grails version. I've created pull request https://github.com/beckje01/grails-code-coverage/pull/42 to upgrade Grails version to 2.4.5. Could you please let me know if you find anything wrong with that pull request?

[2015-08-14 07:51] #41 closed, assigned to nobody

[2015-08-22 21:00] dtanner opened #43 "Grails 3 Support"
Hi,
Any thoughts/plans on supporting grails 3?  Thanks.

[2015-08-22 23:15] beckje01 commented on #43
No need you can use standard gradle java coverage tools with grails 3.

See http://beckje01.com/blog/2015/07/12/grails-3-and-jacoco/

[2015-08-23 01:10] dtanner commented on #43
Great - thanks Jeff.

[2015-08-23 01:10] #43 closed, assigned to nobody

[2015-08-24 03:37] jameskleeh commented on #11
@beckje01 I wouldn't mind diving into this, however I really have no idea what would need changed. Can you provide a general description of what will need changed?

[2015-08-24 04:51] beckje01 commented on #11
I really don't know where to start but with grails 3 this plugin is not needed. So it may not be worth the effort.

[2015-09-14 14:20] asuraphel commented on #36
[code]

solved it as the icu4j jar was used in one of our other plugins.

CC: @ahassen

[2015-09-14 14:20] #36 closed, assigned to nobody

[2015-09-17 08:07] asuraphel opened #44 "Plugin not including coverage report for classes in inline grails plugins"
We have split up our application into smaller plugins and most of our code is in those plugins. However grails-code-coverage doesn't seem to report on the plugin classes. Is this a bug or unsupported functionality?

[2015-09-17 12:47] beckje01 commented on #44
You would use the the coverage tool in each of your plugins builds directly.

[2015-09-17 16:12] asuraphel commented on #44
@beckje01 It's just one app with a few plugins. Did you mean we should put the grails-code-coverage plugin inside all plugin's BuildConfig.groovy?

[2015-09-17 23:18] jcshultis commented on #41
@felipecao Looks like we're having the same problem. Where did you get code-coverage-2.0.3-4 (SNAPSHOT) from?

[2015-09-18 06:01] felipecao commented on #41
@jcshultis the 2.0.3-4 is a fork i did, you can take a look at it here https://github.com/felipecao/grails-code-coverage
but i didn't do much, i really just forked the repo and upgraded Grails version to 2.4.5

[2015-09-18 13:29] beckje01 commented on #44
Ahh I didn't know it was inline plugins, in that case you could just add the extra source roots. Check out the sourceInclusions in the readme.

[2015-09-18 15:57] jcshultis commented on #41
Thanks! I'll try it.

[cid:368060A3-A3B3-4665-826C-ABE4A0283823]

Jonathan Shultis | 650.464.3984: mobile

From: Felipe Carvalho <notifications@github.com<mailto:notifications@github.com>>
Reply-To: beckje01/grails-code-coverage <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thu, 17 Sep 2015 23:01:37 -0700
To: beckje01/grails-code-coverage <grails-code-coverage@noreply.github.com<ma

[2015-09-23 09:59] asuraphel commented on #44
@beckje01 I tried doing:

[code]

However, the service classes inside that plugin are not showing on the coverage report. Am I missing something?

[2015-09-25 09:14] asuraphel commented on #44
@beckje01 Superficially going through the code I see that classes are instrumented from classDir and the plugin's class files are inside work/plugin-classes. I think source inclusions feature will not work. Don't you think so?

[2015-10-01 14:53] felipecao opened #46 "Plugin generates no test data for Spock specs + Grails 2.4.4"
Hi,
I have a project using Grails-2.4.4 where all tests are written using Spock, and, currently, if we run `"clean" "test-app unit: -echoOut -echoErr -coverage -xml"` on Jenkins, unit specs run fine but no test coverage data is generated.

I mean, the target/test-reports/cobertura folder is there, but there's no information about code coverage in the generated HTML files. Is this a known issue? Am

[2015-10-15 12:21] mmjmanders commented on #41
I have the same issue with Grails 2.4.2 running under Java 7. We are not allowed to just upgrade our dependency and/or Grails version due to company policy.

[2016-01-13 13:58] monyag opened #47 "Unable to find plugin"
Where I can find this plugin?

Could not find artifact org.grails.plugins:code-coverage:jar:2.0.3-3 in grailsCentral (http://repo.grails.org/grails/plugins)

Also I tried to find plugin in
repositories {
      ...
      mavenRepo "http://mojo.codehaus.org"
}

Resolve error obtaining dependencies: Could not transfer artifact org.grails.plugins:code-coverage:jar:2.0.3-3 from/to mojo_codehaus_org (ht

[2016-01-14 20:53] beckje01 commented on #47
Not sure it seems to be in http://repo.grails.org/grails/plugins/org/grails/plugins/code-coverage/2.0.3-3/ correctly.

This only works for grails 2 what are you using?

[2016-01-18 06:14] monyag commented on #47
I worked two days with locally-builded plugin, but now repo works fine. I think, that is not the issue of the plugin. Grails 2.3.11.

[2016-01-18 09:26] wololock opened #48 "java.lang.ClassNotFoundException: org.w3c.dom.ElementTraversal"
Hi there,

I try to integrate Grails `2.4.5` application with `code-coverage` plugin. Adding plugin as:

[code]

seems to work when I run `grails test-app :unit -coverage`, although when I try to run application it breaks suddenly. Here is the console output:

[code]

Here is my dependency report: https://gist.github.com/wololock/2c96317a48c991ae6083

When I remove `code-coverage` plugin, applicat

[2016-01-18 09:27] wololock commented on #48
I also tried adding

[code]

explicitly to dependencies list, but it didnt help

[2016-01-18 09:33] wololock commented on #48
I just figured out that adding dependency:

[code]

does the trick. I still don't understand why this dependency is needed while running `run-app` command when plugin is added in `test` scope? I'm worried that this dependency may break something in other libraries.

[2016-01-18 09:41] wololock commented on #48
Ok, I have found that `ws-commons-util` dependency uses `xml-apis:xml-apis:1.0.b2` - https://gist.github.com/wololock/2c96317a48c991ae6083#file-gistfile1-txt-L166

[2016-01-18 13:57] beckje01 commented on #47
Great must have been some wires crossed some where in the internet

[2016-01-18 13:57] #47 closed, assigned to nobody

[2016-07-05 23:08] fkorssjoen commented on #39
Hi, I've disabled forked mode, I am using grails 2.5.4 with the current version of the plugin. @kreighza, Did you managed to get the plugin working?

I am having the report, but I am not sure I am missing something because of this error.

Thanks!

[2016-12-23 19:45] lthur opened #49 "Plugin is not working for 2.5.4"
Hi,
hope you are well!

I think I'm facing an issue, I'm using grails 2.5.4, code-coverage:2.0.3-3 for measuring coverage but I'm not seeing the report generated correctly.

I have a Controller that has 100% of lines covered, but 20% of branch coverage.
I do not have any conditionals in the Controller, and the report shows me that I'm NOT covering a **return of a Map**

I've attached an image to b

[2016-12-31 02:53] beckje01 commented on #49
That is just a limitation of groovy with the current coverage tools. There isn't anything I know you can do to fix this. If you find a solution that works for groovy and a coverage tool we could apply it here.

[2017-09-12 08:17] dragonwasrobot opened #50 "Missing LICENSE file"
Hi, could you add a LICENSE file (e.g. MIT or Apache 2) to this project, so users of your repository know what they are allowed to do with your source code?

[2017-09-15 18:08] beckje01 commented on #50
There is a license specified in https://github.com/beckje01/grails-code-coverage/blob/master/CodeCoverageGrailsPlugin.groovy#L18 which shows up http://grails.org/plugin/code-coverage

It is Apache 2 if you would like to add a new file that helps with Github feel free to open a PR

[2017-09-15 21:49] #50 closed, assigned to nobody

[2017-09-18 19:35] beckje01 commented on #50
I'm also happy to take a PR with the file you would like if you think it would be helpful.

[2017-10-04 14:11] ddelponte opened #51 "Please publish a version of the plugin compatible with grails 3.x"
Are their plans to release a new version of this plugin which supports grails 3.x?

[2017-10-04 14:51] beckje01 commented on #51
There is no need for grails 3.x you can use gradle tools directly in that case see:

My old post:
http://beckje01.com/blog/2015/07/12/grails-3-and-jacoco/

A recent post with lost of details:
http://mariogarcia.github.io/blog/blog/2017/04/grails_coverage.html

Clover Info:
http://guides.grails.org/grails-code-coverage/guide/index.html

[2017-10-04 14:51] #51 closed, assigned to nobody

[2017-10-04 14:51] beckje01 commented on #51
But if you think this info would be good to add to the readme I would love a PR with some wordsmithing!